.__selected__ul-tabs li span{line-height: 1.7;}
.__selected__active span{text-decoration: underline; font-weight: 700;}
.selected-method__fields{display: none;position: relative;float: left;width: 400px;}
.selected-method__fields.__selected__active{display: block;}
.ajax_save_lead_params__btn{cursor: pointer; background: #237811;padding: 5px 15px 7px; margin: 10px auto; display: inline-block;  /*! border: 2px solid lightgreen; */ border-radius: 8px; color: #fff;line-height: 1.5;transition: 0.3s;box-shadow: 0px 0px 1px 1px rgba(0,0,0, .2), 0px 0px 10px 3px rgba(255,255,255, .6) inset;float: left;}
.ajax_save_lead_params__btn:hover{box-shadow: 0px 0px 10px 3px rgba(255,255,255, .6) inset;background: #0b1189;border: transparent;}
.ajax_save_lead_params__btn.__active{}
.ajax_save_lead_params__preloader{width: 30px;height: 30px;position: relative;display: block;float: left;margin: 10px 20px;background-position: center;background-repeat: no-repeat;}
.ajax_save_lead_params__preloader.__error{background: url(../../image/error.png); padding-left: 40px;background-repeat: no-repeat;background-position: left top;font-size: 16px;line-height: 27px;}
.ajax_save_lead_params__preloader.__sucsses{background-image: url(../../image/ok.png); padding-left: 40px;background-repeat: no-repeat;background-position: center;font-size: 16px;line-height: 27px;background-size: contain;}
.ajax_save_lead_params__preloader.__active{background: url(../../image/preloader.gif);background-size: 74px;padding-left: 40px;background-repeat: no-repeat;background-position: center;font-size: 16px;line-height: 27px;}
.selected-method__fields > label{float: left; display: block;width: 100%;}
.selected-method__fields > label > input{width: 100%;}
.selected-method__fields span.error_massge{position: relative; float: left; text-decoration: none; color: red;}
.ajax_save_lead_params{display: block; float: left; width: 100%;}
input[type="text"].inputError{border-color: red;}
.method-instruction ,
.plugin-instruction {display: block; width: 100%; float: left;}
.method-instruction__content,
.plugin-instruction__content{padding: 5px; margin: 5px; transition: 0.5s; max-width: 700px; min-height: 40px; border-radius: 4px; box-shadow: 0px 0px 3px rgba(0,0,0, .2) inset;}
/*.method-instruction__content:hover,
.plugin-instruction__content:hover{max-width: 700px; min-height: 40px; border-radius: 4px; box-shadow: 0px 0px 3px rgba(0,0,0, .2),0px 0px 6px rgba(255,255,255, .4) inset;}*/
.method-instruction__content{}
.plugin-instruction__content{}





